
.img{
    width: 500px;
    border-radius:50px;
}

.container{
    margin-top:80px;
}
h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 120px;
    color:forestgreen;
    /* Legacy vendor prefixes that you probably don't need... */

  /* Safari */
  -webkit-transform: rotate(-30deg);

  /* Firefox */
  -moz-transform: rotate(-30deg);

  /* IE */
  -ms-transform: rotate(-30deg);

  /* Opera */
  -o-transform: rotate(-30deg);

  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

  margin-right:60%;
  margin-left: 10%;
  margin-top: 10%;


}
#secRow{
    margin-top: 15%;
    margin-bottom: 15%;
}
body{
    height:200%;
}

.hr1{
    border: 1px solid black;
    margin-top: 15%;
}
.quote{
    font-family: 'Lobster', cursive;
    font-size:50px;
}
.owner{
    margin-top:-5%;
}